body {
  margin: 0;
  padding: 0; 
  height: 100vh; 
  display: block; 
  /* display: flex; 
  justify-content: center; 
  align-content: center;
  flex-direction: column; */

}

.navbar {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  background-color: burlywood;
  color: white;
  padding: 20px; 
  font-size: 40px;
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1;


}

.home {
  font-size: 15px;
  color: black; 
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 100%; 
  margin-top: 200px;

}

form {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* height: calc(100vh-80px); */
  max-width: 500px; 
  width: 100%; 
  padding: 20px; 
  /* padding: 30px 25px;  */
  border-radius: 40px; 
  margin: 0; 
  /* max-width: 500px; 
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 0;  */
}

input {
  font-family: Helvetica , sans-serif;
  flex-grow: 1;
  border: 1px solid ;
  font-size: 17px;
  width: 90%;
  display: flex;
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  margin: 10px; 
}


button {
  background-color: white;
  max-width: 500px;
  border: 1px solid;
  line-height: 0;
  font-size: 17px;
  display: flex;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: black;
  margin: 10px ; 
}


.title{
  font-size: 50px;
  text-align: center; 
}


.book-data {
  display: flex; 
  /* justify-content: center; */
  align-items: center;
  flex-direction: column; 
}

.book-cont {
  display: flex; 
  align-items: flex-start;
  margin-bottom: 20px; 
  border-bottom: 1px dotted lightgray;
  padding-bottom: 20px;
  width: 100%; 
}

.book-img {
  width: 200px; 
  margin-right: 25px;
  margin-top: 20px;
  margin-left: 30px
}

.book-det {
  flex: 1; 
  margin-right: 100px;
  text-align: left;
}